@charset 'utf-8';

      .main-page{
        display: block;
        text-align: center;
        margin: 40px auto 80px;

        h1{
            font-family: Roboto;
            font-size: 20px;
            color:#000051;
        }

        archive{
            font-family: Roboto;
            font-size: 14px;
            color: #3F51B5;
        }
    }
