#page {
    p {

        color: #5b5b5b;

    }
	#header {
		text-align: center;
        padding: rem-calc(60 0 40);

        @media(max-width: 768px) {
            padding: rem-calc(60 0 0);
            
        }
        h1 {
            font-size: rem-calc(48);
            line-height: rem-calc(40);
            color: $sagent-header;
            font-family: $headings-font-family;

            @media(max-width: 768px) {
                margin-top: rem-calc(40);
                font-size: 24px;
            }
        }

        p {
            text-transform: uppercase;
            color: #b8b8b8;
            font-size: rem-calc(20);
        }

	}

    .page {
        margin: 0 auto 10rem;
        width: 830px;

        @media (max-width: 768px) {
            width: 500px;
        }
        @media (max-width: 440px) {
            width: 330px;
        }
        h3 {
            font-size: 20px;
            font-weight: bold;   
        }
    }

    @media (max-width: $screen-sm-max) {
        ol, ul {
            margin: 0;
        }
    }

}