#signupform{
    background: $sagent-header;
   
    @media(max-width: 768px){
        padding-bottom: 80px;
    }
}
#signup-form{
    padding-top: 40px;
}
#form-message{
    padding: 100px 0 80px;
    @media(min-width: 1440px){
        padding: 200px 0 80px;
    }
    @media(max-width: 768px){
        padding-bottom: 40px;
    }
}
#signuppage{

    background: $sagent-header url(/img/texture/texture.svg);

    input{
        -webkit-appearance: none;
        -moz-appearance: none;
        border-radius: 0;
    }
    .try-signup{
        font-size: 48px;
        margin-top: 150px;
        color: white;
        text-align: center;       
        @media(max-width: 440px){
            margin-top: 50px;
        }
    }
    .signup-logo {
        width: 220px;
        height: 70px;
    }


    .close {
        position: absolute;
        top: rem-calc(25);
        right: rem-calc(25);
        width: rem-calc(25);
        height: rem-calc(25);
        z-index: 1;
        cursor:pointer;
    }

    form {
        @media(max-width: 768px){
            width: 650px;
        }
        @media(max-width: 650px){
            width: 300px;
        }
        @media(min-width: 1440px){
            margin-bottom: 100px !important;
        }
    }

    .form-fields{
        display: block;
        color: white;
        font-family: Montserrat, Helvetica, Arial, sans-serif;
        font-size: 16px;
        margin-bottom: 16px;
    }

    .input {
        width: 300px;
        height: 40px;
        padding-left: 10px;
        background-color: #ffffff;
        border: solid 1px rgba(0, 0, 0, 0.15);
        &:focus{
            outline: none;
        }
    }

    .required{
        border: solid 1px #fe5f55;
        opacity: 1;
    }
    .required-error{
        width: 110px;
        height: 20px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        background-color: #fe5f55;
        border: solid 1px #fe5f55;
        font-family: Montserrat, Helvetica, Arial, sans-serif;
        font-size: 12px;
        margin: 0;
        color: #ffffff;
        text-align: center;
        line-height: 18px;
        opacity: 0;
    }
    .form-group {
         display: inline-block;
    }
    .first-field {
        margin-right: 25px;
    }
    .get-started {
        width: 200px;
        font-size: 16px;
        height: 40px;
        margin: 20px 200px 80px;
        font-weight: 300;
        padding: 0;
        @media(max-width: 768px){
            width: 300px;
            font-size: 16px;
            height: 40px;
            margin: 25px auto 0px;
            font-weight: 300;
            padding: 0;
        }  
    }
    .container-mini{
        max-width: 630px;
        margin: 0 auto;
        z-index: 100;

        @media(max-width: 440px){
            max-width: 400px;
            margin-top: rem-calc(40);
        }   
    }

    input::placeholder {
        font-size: 16px;
        padding-left: 8px;
        text-align: left;
        color: rgba(0, 0, 0, 0.38);
      }

    :-ms-input-placeholder {
        font-size: 16px;
        padding-left: 8px;
        text-align: left;
        color: rgba(0, 0, 0, 0.38);
    }
    .signup-text {
        color: white;
        font-family: Montserrat, Helvetica, Arial, sans-serif;
        font-size: 24px;
        text-align: center;
        line-height: 1.5;
        margin-bottom: 40px;
    }

    .trusted-companies{
        color: white;
        font-family: Montserrat, Helvetica, Arial, sans-serif;
        font-size: 24px;
        text-align: center;
        line-height: 1.5;
        margin: 0 auto 32px;
        @media(max-width: 768px){
            display: none;
        }

    }


    #complete-message {
        width: 630px;
        margin: 0 auto;
        display: none;
        padding: 150px 90px 70px;
        color: #fff;
        text-align: center;
        @media(max-width: 768px){
            padding: 170px 0 60px;
            width: 300px;
        }
        span {
            display: block;
            margin-bottom: rem-calc(20);
            font-size: 20px;
        }
        p{
            color: #fff;
            font-size: 24px;
            margin-bottom: 0;
        }
        img {
            width: rem-calc(30);
        }
    }

}


.logos-section {
    width: 1280px;
    height: 100px;
    margin: 0 auto;
    @media(max-width: 1280px){
        width: 644px;
    }
}

.signup-logos{
    background-color: #f2f2f2;
    @media(max-width: 768px){
        display: none;
    }
    
    @keyframes fade {
        0% { opacity: 1 }
        100% { opacity: 0 }
    }


    .customer-logo{
        height: 86px;
        margin-top: 7px;
    }

    .dyson{
        animation: fade 3s linear;
        animation-delay: 22s;
    }

    .under-armour{
        animation: fade 3s linear;
        animation-delay: 6s;
    }

    .ikea{
        animation: fade 3s linear;
        animation-delay: 14s;
    }

    .tours-tickets{
        animation: fade 3s linear;
        animation-delay: 36s;
        @media(max-width: 992px){
            display: none;
        }
    }

    .asics{
        animation: fade 3s linear;
        animation-delay: 26s;
    }

    .carfax{
        animation: fade 3s linear;
        animation-delay: 18s;
        @media(max-width: 1280px){
            display: none;
        }
    }

    .humkemoller{
        animation: fade 3s linear;
        animation-delay: 10s;
        @media(max-width: 1280px){
            display: none;
        }
    }

    .hidden-m{
        @media(max-width: 1280px){
            display: none;
        }
    }

    .hidden-s{
        @media(max-width: 1024px){
            display: none;
        }
    }

}
