
<footer class="site-footer">
    <div class="top-row">
            <div class="footer-img">
                <a href="/">
                    <img src="/img/bottom_pic_1.svg" class="logo-footer footer-beggining">
                </a>
            </div>
            <div class="footer-title">
                <ul>
                    <li><a href="/contacts">Контакты</a></li>
                    <li><a href="/">Телефон доверия</a></li>
                    <li><a href="/">Антиррупция</a></li>
                </ul>
            </div>
            <div class="footer-title">
                <ul>
                    <li><a href="/">Служба здоровья</a></li>
                    <li><a href="/">Служба медиации</a></li>
                </ul>
            </div>
            <div class="footer-title">
                <ul>
                    <li><a href="/">Виртуальный музей им И.В. Гёте</a></li>
                    <li><a href="/">Нужные сайты</a></li>
                </ul>
            </div>
            <div class="social">
                <ul>
                    <li>
                        <a href="https://twitter.com/school515spb" class="twitter social-link" target="_blank"><img src="/img/twitter.svg" alt="Twitter"></a>
                        <a href="https://vk.com/school515spb" class="vk social-link" target="_blank"><img src="/img/vk.svg" alt="VK"></a>
                    </li><li>
                        <a href="https://www.instagram.com/school515spb/" class="instagram social-link" target="_blank"><img src="/img/instagram.svg" alt="Instagram"></a>
                        <a href="https://www.youtube.com/user/gbou515" class="youtube social-link" target="_blank"><img src="/img/youtube.svg" alt="Youtube"></a>
                    </li><li>
                        <a href="http://telegram.me/school515spb" class="telegram social-link" target="_blank"><img src="/img/telegram.svg" alt="Telegram"></a>
                    </li>
                </ul>
            </div>
            <div class="footer-img">
                <a href="/">
                    <img src="/img/bottom_pic_2.svg" class="logo-footer footer-end">
                </a>
            </div>
    </div>
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
$(document).click(function(e) {
    if (!$(e.target).is('#menu-navbar')) {
      $("#menu-navbar").collapse('hide');
    }
});
</script>
{% js bootstrap.min.js %}
{% js main.js %}
