<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{page.title}}</title>
  <meta name="description" content="{{page.description}}">
  {%css main %}
  
  <!-- <link rel="canonical" href="https://crobox.com{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"> -->

  <link rel="icon" type="image/png" href="/favicons/goethe-schule.png" sizes="16x16">
  
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-TileImage" content="/favicons/goethe-schule.png">
  <meta name="theme-color" content="#343a45">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">

  <script type="text/javascript" src="http://esir.gov.spb.ru/static/widget/js/widget.js" charset="utf-8"></script>
</head>
