<div class="container">
    <div class="header">
  <div class="header-logo">
      <img src="/img/goethe-schule.png" class="header-logo-image"/>
  </div>

  <div class="header-title">
      <h1 class="header-title-text">
          Школа №515 </br>
           с углублённым изучением немецкого языка </br>
           имени Иоганна Вольфганга Гёте (Гётешуле)
      </h1>
  </div>
  <div class="header-active-icons">
      <img src="/img/login.svg" class="header-login-icon"/>
      <img src="/img/visibility.svg" /class="header-visibility-icon">
  </div>
</div>
</div>