<nav class="navbar">
    <div id="menu-navbar">
        <div class="top-menu-row">
            <ul>
                <li><a href="/">Расписания</a></li>
                <li><a href="/">Немецкий язык</a></li>
                <li><a href="/">Нашим ученикам</a></li>
                <li><a href="/">Итоговая аттестация</a></li>
                <li><a href="/">Мероприятия</a></li>
            </ul>
        </div>
        <div class="second-menu-row">
            <ul>
                    <li><a href="/">О школе</a></li>
                    <li><a href="/">Сведения об ОО</a></li>
                    <li><a href="/">Родителям</a></li>
                    <li><a href="/">Наши достижения</a></li>
                    <li><a href="/">Информатизация</a></li>
            </ul>
        </div>  
    </div>
</nav>
    