<nav class="navbar">
    <div id="menu-navbar">
        <div class="top-menu-row">
            <ul>
                <li><a href="/about">О школе</a></li>
                <li><a href="/schuler">Ученикам</a></li>
                <li><a href="/parents">Родителям</a></li>
                <li><a href="/">Мероприятия</a></li>
            </ul>
        </div>
        <div class="second-menu-row">
            <ul>  
                <li><a href="/schoolinfo">Сведения об ОО</a></li>
                <li><a href="/schedule">Расписания</a></li>
                <li><a href="/deutsch">Немецкий язык</a></li>
                <li><a href="/stuff">Разное</a></li>
                <li><a href="/contacts">Контакты</a></li>
            </ul>
        </div>  
    </div>
</nav>