<nav class="navbar menu-img-nav">
    <div class="menu-img">
        <div class="menu-logo">
                <a href="/">
                    <img src="/img/goethe-schule.png" class="header-logo-image"/>
                </a>
            </div>
        <div id="menu-navbar">
            <div class="top-menu-row">
                <ul>
                    <li><a href="/about">О школе</a></li>
                    <li><a href="/schuler">Ученикам</a></li>
                    <li><a href="/parents">Родителям</a></li>
                    <li><a href="/">Мероприятия</a></li>
                </ul>
            </div>
            <div class="second-menu-row">
                <ul>  
                    <li><a href="/schoolinfo">Сведения об ОО</a></li>
                    <li><a href="/schedule">Расписания</a></li>
                    <li><a href="/deutsch">Немецкий язык</a></li>
                    <li><a href="/stuff">Разное</a></li>
                    <li><a href="/contacts">Контакты</a></li>
                </ul>
            </div>  
        </div>
        <div class="menu-active-icons">
                <img src="/img/login.svg" class="header-login-icon"/>
                <img src="/img/visibility.svg" /class="header-visibility-icon">
        </div>
    </div>
</nav>