.site-footer{
    padding: 0;

    background: $menu-backgroung-color;
    .footer-row{
        width: 1280px;
        margin: 0 auto;
        display: flex;
    }
    .footer-title, .social, .footer-img{
        width: 210px;
        margin-right: 40px;
    }
    .logo-footer{
        margin-top: 0;
    }
    .footer-img{
        height: 125px;
    }
    ul{
        margin: 0;
    }
    .footer-end{
        margin-right: -40px;
    }
    .social-link{
        width: 20px;
        margin: 0 20px;
    }
    li a{
        color:$header-main-color;
    }
}

