.container{
    width: 1280px;
    margin: 0 auto;
    display: -webkit-box;  
}

.header-logo{
    .header-logo-image{
        width: 90px;
        height: 90px;
    }
}

.header-title{
    .header-title-text{
        width: 510px;
    }
}